body,
html {
    width: 100%;
    height: 100%;
    cursor: url('https://www.shareicon.net/download/2015/08/23/89629_plane.ico'), auto;
    /*background-image: url('../img/Roadmap/plane.png');*/
}

body {
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
    /*max-width: 50px;*/
    border-width: 3px;
    border-color: #D93D51;
}

    hr.light {
        border-color: #fff;
    }

a {
    color: #D93D51;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.main-title {
    /*display: none;*/
}

a:hover {
    color: #D93D51;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
    background-color: #D93D51 !important;
}

.bg-dark {
    background-color: #212529 !important;
}

.text-faded {
    color: #212529;
}

section {
    padding: 8rem 0;
}

.section-heading {
    margin-top: 0;
}

::-moz-selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

img::selection {
    color: #fff;
    background: transparent;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}

#mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #D93D51;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

    #mainNav .navbar-brand {
        font-weight: 700;
        text-transform: uppercase;
        color: #D93D51;
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    }

        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
            color: #D93D51;
        }

    #mainNav .navbar-nav > li.nav-item > a.nav-link,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        font-size: .9rem;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
    }

        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: gray;
        }

        #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
            color: lightgray !important;
            background-color: transparent;
        }

            #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
            #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
                background-color: transparent;
            }

@media (min-width: 992px) {


    #mainNav {
        /*border-color: transparent;
    background-color: transparent;*/
    }

        #mainNav .navbar-brand {
            color: #212529;
        }

            #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
                color: #fff;
            }

        #mainNav .navbar-nav > li.nav-item > a.nav-link {
            padding: 0.5rem 1rem;
        }

            #mainNav .navbar-nav > li.nav-item > a.nav-link,
            #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
                color: white;
            }

                #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
                #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
                    color: lightgray;
                }

        #mainNav.navbar-shrink {
            border-bottom: 1px solid rgba(33, 37, 41, 0.1);
            background-color: #D93D51;
        }

            #mainNav.navbar-shrink .navbar-brand {
                color: #D93D51;
            }

                #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
                    color: #D93D51;
                }

            #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
            #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
                color: white;
            }

                #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
                #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
                    color: lightgray;
                }
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/header.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    header.masthead hr {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    header.masthead h1 {
        font-size: 2rem;
    }

    header.masthead p {
        font-weight: 300;
    }

@media (min-width: 768px) {
    header.masthead p {
        font-size: 1.15rem;
    }
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 650px;
        /*padding-top: 0;*/
        padding-bottom: 0;
    }

        header.masthead h1 {
            font-size: 3rem;
        }
}

@media (max-width:991px) {

    .main-title {
        top: 356px;
    }
}

@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 4rem;
    }
}

.service-box {
    max-width: 400px;
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
}

    .portfolio-box .portfolio-box-caption {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        opacity: 0;
        color: #fff;
        background: rgba(240, 95, 64, 0.9);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
    }

        .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
            text-align: center;
        }

            .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
            .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
                padding: 0 15px;
                font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
            }

            .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
            }

            .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
                font-size: 18px;
            }

    .portfolio-box:hover .portfolio-box-caption {
        opacity: 1;
    }

    .portfolio-box:focus {
        outline: none;
    }

@media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.text-primary {
    color: #D93D51 !important;
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
    padding: 1rem 2rem;
}

.btn-primary {
    background-color: #D93D51;
    border-color: #D93D51;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
        color: #fff;
        background-color: #ee4b28 !important;
    }

    .btn-primary:active, .btn-primary:focus {
        box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
    }

.homeImage {
    max-width: 150px;
    max-height: 150px;
}

h1, h2 {
    color: #573A70;
}

h3 {
    color: gray;
}

.row {
    margin-left: 5px;
    margin-right: 5px;
}

.imgRow {
    margin-left: 10px;
    margin-top: -60px;
}

header.masthead {
    min-height: 780px;
}

.homecontainer {
    max-width: 820px;
    float: left;
}


.good {
    background-color: yellow;
}

.good-ish {
    background-color: lightgreen;
}

.bad {
    background-color: #FF1C1C;
}

.bad-ish {
    background-color: red;
}

.tableFirstRow {
    font-weight: bold;
}

.featureImage {
    margin-left: -10px !important;
    margin-right: -10px !important;
}

    .featureImage > .col > img {
        max-height: 131px;
        /*border: white 4px solid;*/
        /*transform: scale(0.3);
    opacity: 0;*/
    }

    .featureImage > .col > .teamimg {
        max-height: 131px;
        border: white 4px solid;
        /*transform: scale(0.3);
    opacity: 0;*/
    }

.bg-primary > .container > .row > .col > h1 {
    color: white;
}

.bg-primary > .container > .row > .col > p {
    color: white;
}

.bg-primary > .container > .row > .container > .row > .col > .row > .col > h2 {
    color: white;
}

.bg-primary > .container > .row > .container > .row > .col > .row > .col > h3 {
    color: white;
}

.TokenGraph {
    width: 100%;
    height: 500px;
    min-width: 450px;
}

@media (max-width: 1163px) {
    .TokenGraph {
        width: 100%;
        height: 500px;
        min-width: 350px;
    }
}

.backdrop {
    /*background-image: url('../img/backdrop.png');*/
    background-image: url('../img/Patterns/TransAirplanes.png');
    /*background-size: 400px;*/
}

.demo-1 .large-header {
    /*background-image: url('../img/world-map.png');*/
    background: none;
}

.headerback {
    background: url('../img/earthback.png') !important;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.backdrop2 {
    background-image: url('../img/Patterns/transTravel.png');
}


.whitebackdrop {
    /*background-image: url('../img/backdrop.jpg');
    background-size: 400px;*/
    background-image: url('../img/earthback.png');
}

.ethImg {
    background-image: url('../img/EthereumLogo.png');
}

.RoadImg {
    /*border: solid 1px #fff;*/
}

    .RoadImg > .row > img {
        max-height: 70px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .RoadImg > .row > ul {
        list-style: none;
    }

    .RoadImg > .row > h2 {
        color: white;
        width: 100%;
        text-align: center;
    }

    .RoadImg > .row > ul > li {
        font-size: 20px;
        margin-bottom: 20px;
        /*color: black;*/
    }


.dash {
    border: 0 none;
    border-top: 2px dashed lightcoral;
    background: none;
    height: 0;
    margin-bottom: -30px;
    margin-right: 300px;
    margin-left: 231px;
}

.roadplane {
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40%;
}

.continent {
    margin-left: 30px;
}

.prototypeImg {
    width: -webkit-fill-available;
    height: auto;
}

@media (max-width:670px) {
    .TokenGraph {
        min-width: 300px;
    }

    .main-title > h1 {
    }
}

.pure-u-1-2 {
    min-width: 290px;
}

.card {
    /*background-color: rgba(0,0,0,.03);*/
}

.faqHeader {
    font-size: 27px;
    margin-top: 20px;
    color: white;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "e072"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}

.card-header {
    margin: 0px;
    font-weight: 400;
}

    .card-header > a {
        color: #573A70;
    }

.card-block {
    margin: 20px;
}

.card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    background-color: none;
    background-clip: unset;
    /*border: none;*/
    /*border-radius: unset;*/
    margin-top: 5px;
}


.main-title > h1 {
    /*font-size: 70px !important;*/
}

.main-title > h2 {
    /*font-size: 25px !important;*/
}

.mainlogo {
    max-height: 200px;
}


.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}

.linkedIn {
    position: absolute;
    bottom: -20px;
    right: 0px;
    max-height: 40px;
}

.img-circle {
    border-radius: 20%;
}

.ProductLogo {
    max-width: 180px
}

.ProductCol {
    padding-right: 0px;
    padding-left: 0px;
}

#tv_container {
    width: 1186px; /* Adjust TV image width */
    height: 760px; /* Adjust TV image height */
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

    #tv_container:after {
        content: '';
        display: block;
        background: url('../img/laptop1186.png') no-repeat top left transparent;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        position: absolute;
        z-index: 10;
    }

    #tv_container video {
        position: absolute;
        top: 50px;
        left: 160px;
        z-index: 5;
        width: 880px;
    }

@media (max-width:1185px) {

    #tv_container {
        width: 876px; /* Adjust TV image width */
        height: 560px; /* Adjust TV image height */
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

        #tv_container:after {
            content: '';
            display: block;
            background: url('../img/laptop876.png') no-repeat top left transparent;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            position: absolute;
            z-index: 10;
        }

        #tv_container video {
            position: absolute;
            top: 35px;
            left: 120px;
            z-index: 5;
            width: 650px;
        }
}

@media (max-width:876px) {

    #tv_container {
        width: 580px; /* Adjust TV image width */
        height: 360px; /* Adjust TV image height */
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

        #tv_container:after {
            content: '';
            display: block;
            background: url('../img/laptop580.png') no-repeat top left transparent;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            position: absolute;
            z-index: 10;
        }

        #tv_container video {
            position: absolute;
            top: 20px;
            left: 75px;
            z-index: 5;
            width: 430px;
        }
}


@media (max-width:580px) {

    #tv_container {
        width: 395px; /* Adjust TV image width */
        height: 260px; /* Adjust TV image height */
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

        #tv_container:after {
            content: '';
            display: block;
            background: url('../img/laptop395.png') no-repeat top left transparent;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            position: absolute;
            z-index: 10;
        }

        #tv_container video {
            position: absolute;
            top: 15px;
            left: 50px;
            z-index: 5;
            width: 290px;
        }
}

@media (max-width:395px) {

    #tv_container {
        width: 265px; /* Adjust TV image width */
        height: 160px; /* Adjust TV image height */
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

        #tv_container:after {
            content: '';
            display: block;
            background: url('../img/laptop265.png') no-repeat top left transparent;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            position: absolute;
            z-index: 10;
        }

        #tv_container video {
            position: absolute;
            top: 10px;
            left: 40px;
            z-index: 5;
            width: 190px;
        }
}


.sr-contact > li {
    color: #573A70;
}

.productTitle {
    color: #573A70;
    font-weight: bold;
    MARGIN-LEFT: 30PX;
}

@media (max-width:1057px) {
    .ProtocolImg {
        max-width: 400px;
    }
}


@media (max-width:872px) {
    .img-circle {
        max-height: 101px !important;
    }

    .featureData > .col > h3 {
        font-size: 1.0em;
    }

    .ProductLogo {
        max-height: 121px
    }

    .ProductDesc {
        font-size: initial;
    }
}

@media (max-width:670px) {
    .img-circle {
        max-height: 80px !important;
    }

    .featureData > .col > h3 {
        font-size: 0.9em;
    }

    .ProductLogo {
        max-height: 100px
    }

    .ProductDesc {
        font-size: initial;
    }
}

@media (max-width:551px) {
    .img-circle {
        max-height: 60px !important;
    }

    .featureData > .col > h3 {
        font-size: 0.7em;
    }

    .ProductLogo {
        max-height: 80px
    }

    .laptopImage {
        max-height: 100px;
    }

    #demo-canvas {
        opacity: 0.3;
    }
    .ProductDesc {
        font-size: initial;
    }
}

@media (max-width:510px) {
    .img-circle {
        max-height: 40px !important;
    }

    .featureData > .col > h3 {
        font-size: 0.5em;
    }

    .ProductLogo {
        max-height: 60px
    }

    .laptopImage {
        max-height: 90px;
    }

    .ProtocolImg {
        max-width: 300px;
    }

    .ProductDesc {
        font-size: initial;
    }
}




.fullscreen-bg {
    position: fixed;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    /*background-color: #D9D8DA;*/
    /*border-bottom-color: B9B8B9*/
    background: linear-gradient(0deg, #B9B8B9 50%, #D9D8DA 50%);
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


@media (max-width: 1160px) {
}

@media (max-width: 767px) {
    /*.fullscreen-bg {
        background: url('http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }*/
}

.Whitelist {
    background-color: white;
    /* border-radius: 2%; */
    /* padding: 10px; */
    border: 1px solid grey;
    /* padding: 3px; */
    padding-bottom: 50px;
}

form {
    margin: 20px;
}

.stepwizard {
    margin-top: 30px;
}

.stepwizard-step p {
    margin-top: 0px;
    color: #666;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/
}

.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity: 1 !important;
    color: #bbb;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    -webkit-appearance: initial !important;
    background-color: #fff;
    border: 1px solid #ccc;
}


.btn-success {
    background-color: #28a745 !important;
}


.has-error .form-control {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.bg-info {
    background-color: #573A70 !important;
}

.nav-Logo {
    background-color: white;
    border-radius: 30%;
    border: 1px solid #573A70;
    padding: 5px;
    display: none;
}

@media (max-width: 991.98px) {
    .nav-Logo {
        position: absolute;
        display: block;
        /* margin-right: 0px; */
        margin-left: auto;
        right: 0px;
        display: none;
    }
}

.nav-Logo > img {
    max-height: 30px;
}

.contacts-buttons {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 1000;
}

    .contacts-buttons .telegram.ready {
        transform: scale(1);
    }

    .contacts-buttons .telegram {
        background: #42A09F;
        width: 60px;
        height: 60px;
        box-shadow: 0 4px 32px 0 rgba(0,0,0,.175);
        display: block;
        border-radius: 100%;
        overflow: hidden;
        cursor: pointer;
        transition: transform .2s;
        transform: scale(0);
        margin-bottom: 20px;
    }

        .contacts-buttons .telegram > i {
            width: 100%;
            height: 100%;
            display: block;
            background-image: url('../img/Icons/tg.png');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: 50%;
        }

.labelOverlay {
    width: 90px;
    height: 45px;
    position: absolute;
    top: 233px;
    left: 205px;
    text-align: center;
    cursor: default;
}

    .labelOverlay img {
        height: 80px;
        margin-left: 60%;
        margin-top: 50%;
    }


        .labelOverlay img.used-size {
            line-height: 0.5;
            font-size: 20pt;
            color: #8e8e8e;
        }


.roadUl {
    list-style: none;
}

    .roadUl > li {
        line-height: 1.8;
        /* align-content: left; */
        /* align-self: left; */
        text-align: left;
    }

.graphImage1 {
    max-width: 350px;
    min-width: 200px;
    width: inherit;
}

.graphImage2 {
    max-width: 270px;
    min-width: 200px;
    width: inherit;
}

/*colors
    #F4A15D
    #D93D52
    #42A09F
    #573A70
*/

