<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TCH - TripCash</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/Clock.css" rel="stylesheet" />
    <!--<link href="scripts/responsive-tables/angular-responsive-tables.min.css" rel="stylesheet" />-->
    <!-- Custom fonts for this template -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../css/pure-min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,300italic">

    <link rel="stylesheet" type="text/css" href="../customPackages/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../customPackages/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="../customPackages/css/component.css" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->



    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/creative.css" rel="stylesheet">

</head>

<body id="page-top">

    <section id="faq" class="backdrop bg-primary" >
        <div class="container">
            <div class="row text-center">
                <div class="col col-lg-8 mx-auto text-center">
                    <h1 class="section-heading">FAQ</h1>
                    <hr class="my-4">
                    <p class="mb-5">What do you want to know</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="" id="accordion">
                <div class="faqHeader">General questions</div>
                <div class="card ">
                    <h4 class="card-header">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Q1">What Is TripCash?</a>
                    </h4>
                    <div id="Q1" class="panel-collapse collapse in">
                        <div class="card-block">
                            Tripcash is a form of digital currency which is based on an open source code that was created and is held electronically.
                            Tripcash is a decentralized form of travelling, meaning that it does not belong to any form of government and is not controlled by anyone, and can be used for all your traveling needs.
                        </div>
                    </div>
                </div>
                <div class="card ">
                    <h4 class="card-header">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Q2">How Do TripCash Transactions Work?</a>
                    </h4>
                    <div id="Q2" class="panel-collapse collapse in">
                        <div class="card-block">
                            From an end user side, using TripCash is extremely simple. It can be based on software on your computer or an application on your mobile device.
                            You use the software to purchase goods or services from “hosts”, example being someone renting out accommodation or offering transport services.
                            The wallet has a unique encrypted set of numbers and letters which is linked only to your software and no one else’s.
                            Every transaction is publicly shared on the TripCash network on a ledger labeled the “block chain”.
                            This ledger contains every single transaction ever made, which gives complete transparency for each transaction and allows any computer on the network to verify its validity. A digital signature is linked to each transaction, which corresponds with the sending address.
                        </div>
                    </div>
                </div>
                <div class="card ">
                    <h4 class="card-header">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Q3">Why Should You Use TripCash?</a>
                    </h4>
                    <div id="Q3" class="panel-collapse collapse in">
                        <div class="card-block">
                            There are a few reasons why you might want to decide to use TripCash over traditional currencies. One of the reasons are the ability to use TripCash for  all your travel needs and services that you require/provide.
                            Much lower fees is another reason why so many people are starting to choose TripCash as a form of currency. TripCash only takes a 0.5% commission fee for the transaction happening, in order to improve the service and increase the sustainability.
                            Furthermore, all TripCash transactions are irreversible, secure, and contain no personal information related to the buyer, which makes it the perfect currency for merchants who are seeking security and stability
                            On the flip side, each user has full control of their wallet. It is impossible for a merchant to charge a user without their knowledge, as often is seen done by many unethical businesses.

                        </div>
                    </div>
                </div>
                <div class="faqHeader">ICO</div>
                <div class="card ">
                    <h4 class="card-header">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Q4">When will i recieve my TCH?</a>
                    </h4>
                    <div id="Q4" class="panel-collapse collapse in">
                        <div class="card-block">
                            Account registration at <strong>PrepBootstrap</strong> is only required if you will be selling or buying themes.
                            This ensures a valid communication channel for all parties involved in any transactions.
                        </div>
                    </div>
                </div>
                <div class="card ">
                    <h4 class="card-header">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Q5">What wallet do i user?</a>
                    </h4>
                    <div id="Q5" class="panel-collapse collapse in">
                        <div class="card-block">
                            Account registration at <strong>PrepBootstrap</strong> is only required if you will be selling or buying themes.
                            This ensures a valid communication channel for all parties involved in any transactions.
                        </div>
                    </div>
                </div>
                <div class="faqHeader">Investment Value</div>
                <div class="card ">
                    <h4 class="card-header">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Q4">Can You Make Money With TripCash?</a>
                    </h4>
                    <div id="Q4" class="panel-collapse collapse in">
                        <div class="card-block">
                            As with any new invention or a new company on the NSE, risk is something that needs to be evaluated carefully and approached with utmost importance. Is there an opportunity to make money via the use of TripCash? In short, the answer is “Yes.”
                        </div>
                    </div>
                </div>
                <div class="card ">
                    <h4 class="card-header">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Q5">Can You Lose TripCash?</a>
                    </h4>
                    <div id="Q5" class="panel-collapse collapse in">
                        <div class="card-block">
                            Since TripCash are stored in your software wallet, it isn’t possible for you to lose the TripCash. However, you can lose the wallet which contains your TripCash currency. If this happens, then the TripCash are simply out of circulation.
                            When a wallet is lost, the missing TripCash are offset by the law of supply and demand. The missing TripCash will increase the value of the remaining TripCash, resulting in compensation for those that have been lost.

                        </div>
                    </div>
                </div>
                <div class="card ">
                    <h4 class="card-header">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Q5">How Is It Possible For TripCash To Hold Value?</a>
                    </h4>
                    <div id="Q5" class="panel-collapse collapse in">
                        <div class="card-block">
                            Simply put, TripCash holds value because it can be used as money to pay for travel, or provide services for travellers. Just like any other currency, TripCash value is greatly influenced by who uses the currency.
                            The hosts, businesses, and users determine the value of TripCash by choosing to use TripCash over other currencies. Simply put, the more people who choose to use TripCash as a form of payment, the greater the value of each TripCash will be.

                        </div>
                    </div>
                </div>
                <div class="faqHeader">Platform</div>
                <div class="card ">
                    <h4 class="card-header">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Q6">How Can You Get TripCash?</a>
                    </h4>
                    <div id="Q6" class="panel-collapse collapse in">
                        <div class="card-block">
                            There are four ways to get TripCash. The first one is pretty simple and self-explanatory: you offer goods or services in exchange for TripCash.
                            The buyer will send the appropriate amount of TCH to your wallet and upon receiving it you will provide the requested service or goods.
                            The second way to get TCH would be to make a purchase through exchange. Generally, there are plenty of different exchange sites available. You will also need to use your Bank Account, which will be linked to the TripCash website to make TCH purchases.
                        </div>
                    </div>
                </div>
                <div class="card ">
                    <h4 class="card-header">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Q6">How Hard Is It To Make TripCash Payments?</a>
                    </h4>
                    <div id="Q6" class="panel-collapse collapse in">
                        <div class="card-block">
                            Often, completing a TripCash transaction is easier than making a purchase with a debit card or a credit card. All you need is your wallet address and you can make payments or request TripCash services through your PC software, mobile application, or web wallet.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="../node_modules/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <!--<script src="scripts/responsive-tables/angular-responsive-tables.min.js"></script>-->
    <script src="../js/chart/amcharts.js"></script>
    <script src="../js/chart/light.js"></script>
    <script src="../js/chart/pie.js"></script>

    <script src="../customPackages/js/TweenLite.min.js"></script>
    <script src="../customPackages/js/EasePack.min.js"></script>
    <script src="../customPackages/js/rAF.js"></script>
    <script src="../customPackages/js/demo-1.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/creative.min.js"></script>

    
</body>


</html>
