<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TCH - TripCash</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/Clock.css" rel="stylesheet" />
    <link href="../scripts/responsive-tables/angular-responsive-tables.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/pure-min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,300italic">

    <link rel="stylesheet" type="text/css" href="../customPackages/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../customPackages/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="../customPackages/css/component.css" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->



    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/creative.css" rel="stylesheet">

</head>

<body id="page-top">


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <!--<a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>-->
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="../index.html">TripCash Website</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="product" class="whitebackdrop">
        <div class="container">
            <div class="row">

            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row text-center sr-contact">
                        <div class="col ProductCol">
                            <div class="row text-center featureImage">
                                <div class="col">
                                    <img class="img-circle" src="img/Product/rowan-heuvel-51244-unsplash.jpg" />
                                </div>
                            </div>
                            <div class="row text-center featureData"><div class="col"><h3>Home sharing platform</h3></div></div>
                        </div>
                    </div>
                    <div class="row text-center sr-contact">
                        <div class="col ProductCol">
                            <div class="row text-center featureImage">
                                <div class="col">
                                    <img class="img-circle" src="img/Product/andrew-ruiz-376-unsplash.jpg" />
                                </div>
                            </div>
                            <div class="row text-center featureData"><div class="col"><h3>Taxi Service</h3></div></div>
                        </div>
                        <div class="col ProductCol">
                            <img src="img/400dpiLogo.png" class="ProductLogo" />
                        </div>
                        <div class="col ProductCol">
                            <div class="row text-center featureImage">
                                <div class="col">
                                    <img class="img-circle" src="img/Product/freestocks-org-187367-unsplash.jpg" />
                                </div>
                            </div>
                            <div class="row text-center featureData"><div class="col"><h3>Travel Marketplace</h3></div></div>
                        </div>
                    </div>
                    <div class="row text-center sr-contact">

                        <div class="col ProductCol">
                            <div class="row text-center featureImage">
                                <div class="col">

                                    <img class="img-circle" src="img/Product/matheus-ferrero-183749-unsplash.jpg" />
                                </div>
                            </div>
                            <div class="row text-center featureData"><div class="col"><h3>Events and Experiences</h3></div></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h3 class="sr-contact productTitle">Home sharing platform</h3>
                    <ul class="sr-contact">
                        <li>A decentralised online marketplace where people can lease or rent apartments, hotel rooms and any other accommodation.</li>
                    </ul>
                    <h3 class="sr-contact productTitle">Taxi Service</h3>
                    <ul class="sr-contact">
                        <li>Includes a passenger app and a driver app similar to Uber. Safety checks are done with a partner firm.</li>
                    </ul>
                    <h3 class="sr-contact productTitle">Travel Marketplace</h3>
                    <ul class="sr-contact">
                        <li>Decentralised marketplace for travel related goods and services such as tour packages, cruises, air tickets, bags and accessories. All participants will go through a screening process and be approved by arbiters and master node holders ensuring products are travel related.</li>
                    </ul>
                    <h3 class="sr-contact productTitle">Online Wallets</h3>
                    <ul class="sr-contact">
                        <li>Online wallets are available for all major cryptocurrencies making the process of booking your next destination seamlessly easy.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="../node_modules/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="../scripts/responsive-tables/angular-responsive-tables.min.js"></script>
    <script src="../js/chart/amcharts.js"></script>
    <script src="../js/chart/light.js"></script>
    <script src="../js/chart/pie.js"></script>

    <script src="../customPackages/js/TweenLite.min.js"></script>
    <script src="../customPackages/js/EasePack.min.js"></script>
    <script src="../customPackages/js/rAF.js"></script>
    <script src="../customPackages/js/demo-1.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/creative.min.js"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>


</body>

</html>
